.header-container {
  display: flex;
  justify-content: space-between; /* Space out logo and nav-links */
  align-items: center; /* Align items vertically */
  width: 100%;
  height: 80px;
  background-color: #1e1e30;
  padding: 0 20px; /* Add padding to avoid content touching the edges */
}

.header-logo {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  line-height: 24px;
  margin: 0 auto; /* Ensure logo is centered */
}

.logo-india {
  color: #3b82f6; /* Blue color for the word INDIA */
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #f8fafc;
  text-decoration: none;
  margin-left: 20px; /* Space between links */
  line-height: 24px;
}

.nav-link:hover {
  color: #94a3b8;
}
